global
    log /dev/log    local0
    log /dev/log    local1 notice
    daemon

    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets



defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  log-health-checks
    timeout connect 5000
    timeout client  50000
    timeout server  500000



frontend main
    bind 0.0.0.0:80
    bind 0.0.0.0:443 ssl crt /var/certs/live/avedus.pro/haproxy.pem


    http-request redirect scheme https unless { ssl_fc }
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    http-request set-header X-Forwarded-Proto http if !{ ssl_fc }
    http-request set-header X-Forwarded-For %[src]
    http-after-response set-header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload" if { ssl_fc }


    acl local_network src 10.0.0.0/8

    use_backend cinema if { hdr(host) -i jellyfin.carbon.avedus.pro } local_network
    use_backend cinema if { hdr(host) -i cinema.at.avedus.pro } local_network

    default_backend stub

backend cinema
    server jellyfin 127.0.0.1:8096 check

backend stub
    mode http
    http-request deny deny_status 404
